<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manish-Quiz</title>
  <link rel="icon" href="quiz.jpg" type="image/x-icon">
  <link rel="stylesheet" href="Home.css">
</head>
<body>
  <header class="head-container">
    <h1 class="q-h1">quiz-mania</h1>
  </header>
  <nav class="nav-container">
    <button class="login" onclick="location.href='login.html';">Login</button>
  </nav>
  <main>
    <p class="p-quiz">
      Unlock the power of knowledge with every question. <br>  
      Challenge yourself and grow with every answer.  <br>
      Learning is a journey, and quizzes are your roadmap. <br>  
      Dive deep into the world of computer science, one quiz at a time.  <br>
      Sharpen your skills, broaden your mind, and excel in your field.  <br>
      Empower your future through learning, today!</p>
      <button class="lets-button" onclick="location.href='quiz.html';">Lets start</button>
  </main>
</body>
</html>