<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="login.css">
</head>
<body>
 <div class="login-container">
  <h1 class="login-h1">
welcome-back...
  </h1><br>
  <form class="form-container" action="">
    <div class="input-container">
      <input type="text" placeholder="Enter Email">
    </div>
    <div class="input-container">
      <input type="text" placeholder="Enter Password">
    </div>
    <button class="login-btn">login</button><br>
    <a class="hv" href="signup.html">dont have a account?,signup</a>
  </form>
 </div>
</body>
</html>