<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="quiz.css">
</head>
<body>
<header>
  <div class="container">
<a class="logo" href="#">Quiz mania</a>
<nav>
  <ul class="nav-list">
    <li><a href="aptitute.html">Aptitude</a></li>
    <li><a href="login.html">Mathematics</a></li>
    <li><a href="">English</a></li>
    <li><a href="">Computer Science</a></li>
    <li><a href="">Logical Reasoning</a></li>
  </ul>
</nav>



  </div>
</header>

  
</body>
</html>