<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="quiz.css">
</head>
<body>
<header>
  <div class="container">
<a class="logo" href="#">Quiz-Mania</a>
<nav>
  <ul class="nav-list">
    <li><a href="aptitute.html">Aptitude</a></li>
    <li><a href="maths.html">Mathematics</a></li>
    <li><a href="english.html">English</a></li>
    <li><a href="computer.html">Computer Science</a></li>
    <li><a href="logic.html">Logical Reasoning</a></li>
  </ul>
</nav>
  </div>
</header>
<main>
  <main>
   <div class="img11"><img class="img1" src="brain.png" alt="">
    <img class="img6" src="quiz2.png" alt=""></div>
   <div class="img12"><img class="img2" src="brain2.png" alt="">
    <img class="img3" src="heart.png" alt=""><img class="img5" src="idea.png" alt=""></div>
   <div class="img14"> <img class="img4" src="answer.png" alt=""><img class="img4" src="quiz3.png" alt=""></div>
  
   
  </main>
  
</main>
  
</body>
</html>