<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="signup.css">
</head>
<body>
 <div class="signup-container">
  <h1 class="signup-h1">
Lets-Create
  </h1><br>
  <form class="form-containerr" action="">
    <div class="input-containerr">
      <input type="text" placeholder="Enter Email">
    </div>
    <div class="input-containerr">
      <input type="text" placeholder="Enter Password">
    </div>
    <div class="input-containerr">
      <input type="text" placeholder="Confirm Password">
    </div>
    <button class="signup-btn">Sign Up</button><br>
    <a  class="hv" href="login.html"> have a account?,login</a>
  </form>
 </div>
</body>
</html>